@model EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<form id="registerForm" method="post" asp-action="Edit">
    <h2>Edit User.</h2>
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="FirstNamwe" />
        <label asp-for="FirstName">FirstName</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="LastName" />
        <label asp-for="LastName">LastName</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="UserName" />
        <label asp-for="UserName">UserName</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <hr />
    <button id="registerSubmit" type="submit" class="btn btn-primary  mt-4" style="width:150px">Save</button>
    <a class="btn btn-secondary mt-4" style="width:150px" asp-action="Index">Back</a>
</form>

@section Scripts{
    <partial name="_validationScriptsPartial" />
}